.content {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   width:410px;
   height:410px;
   position: absolute;
   justify-content: space-evenly;
   top: 50%;
   transform: translateY(-50%);
  }
