.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100vh;
  background-image: url('../../whiteback.png');
  background-size: contain;
}

.app-header {
  display: flex;
  background-color: #FCFCFC;
  min-height: 50px;
  color: rgb(48, 45, 45);
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1405px) {
  .app-header {
      min-height: 80px;
  }
}

@media (max-width: 1404px) and (min-width: 1281px) {
    .app-header {
      min-height: 70px;
  }
}

@media (min-width: 768px) {
  .app-header {
      min-height: 80px;
  }
}

@media (min-width: 310px) and (max-width: 330px) {
  .container {
      padding: 0;
      margin: 0;
  }
}









