.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 100%;
  width: 400px; 
}
 
 .tile {
   width: 100px;
   height: 100px;
   border-radius: 8px;
   list-style: none;
   outline: none; 
 }

